* {
    box-sizing: border-box;
  }
.posts{
    padding-top: 100px;
    background-color: #1b1c19;
    width: 100%;
    content: "";
    clear: both;
    display: table;
    margin-top: 20px;
}
.loading{
    height: 657px;
    background-color: #1b1c19;
    text-align: center;
}
.animation{
    margin-top: -110px;
    margin-left: -20px;
    width: 1200px;
    animation: logo 20s infinite;
}
@keyframes logo {
  from {transform: rotate(0deg); transform-origin: 50% 50%;}
  to {transform: rotate(1440deg); transform-origin: 50% 50%;}
}
.productImg{
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
.product{
    width: 320px;
    margin-left: 100px;
    float: left;
    padding: 10px;
    background-color: #242424;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 #110f0eab , 0 6px 20px 0 #110f0eab ;
    transition: .5s;
}
.product:hover{
    background-color: #151515;
    transform: scale(1.03);
    box-shadow: 3px 3px 20px #fcd362be;

}
.product h2{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}
.address{
    display: flex;
    flex-direction: row;
}
.address p{
    margin-top: 5px;
    margin-left: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.location, .phone{
    width: 25px;
    height: 25px;
}
.priceRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.priceRow h3{
    color: #fcd462;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}