.logo{
    margin-top: -50px;
}
.login{
    width: 300%;
    background-color: #1c1b19;
    color: #fcd462;
    margin-left: -455px;
    height: 656.49px;
    align-items: center;
    text-align: center;
}
.signup{
    width: 300%;
    background-color: #1c1b19;
    color: #fcd462;
    margin-left: -455px;
    height: 746px;
    align-items: center;
    text-align: center;
}